@{
    ViewData["Title"] = "404 Error";

}
    <br /><br />
    <center>
        <h1>Uh oh, looks like you took a wrong turn!</h1>

        <p>
            You seem to have stumbled upon a page that doesn't exist.
            Don't worry, we've all been there before.
        </p>

        <p>
            <a href="/Home/Index/">
                <i class="fas fa-home"></i> Go home
            </a>

        </p>

        <p>
            <img src="https://jobmarket.ph/wp-content/uploads/2022/01/js-840x350.jpg" />
        </p>
    </center>
