@model AppUser

<div class="navigation">
    <div class="container">
        <div class="inside">
            <div class="nav nav-tab menu">
                <a href="/User/Index/"><button class="btn"><img class="avatar-xl" src="~/UserImage/@Model.Image" alt="avatar"></button></a>
                <a href="#discussions" data-toggle="tab" class="active"><i class="material-icons active">chat_bubble_outline</i></a>
                <a href="/User/Settings/" type="submit"><i class="material-icons">settings</i></a>
                <a href="/Login/Logout/" class="btn power"><i class="material-icons">power_settings_new</i></a>
              
            </div>
        </div>
    </div>
</div>