@model SearchViewModel

<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="main-banner" style="background: #242c36 url(https://i.insider.com/61f1aebf792e7300116bc762?width=1136&format=jpeg) no-repeat">
    <div class="container">
        <div class="caption" id="caption">
            <h2>Build Your Career</h2>
            <form method="post" asp-action="SearchJob" asp-controller="Job">
                <fieldset>
                    <div class="col-md-4 col-sm-4 no-pad">
                        <input type="text" asp-for="keyword" class="form-control border-right" placeholder="Company Name" />
                    </div>
                    <div class="col-md-3 col-sm-3 no-pad">
                        @Html.DropDownListFor(x => x.experience, (List<SelectListItem>)ViewBag.exp, new { @class = "form-control", @asp_for = "experience" })

                    </div>
                    <div class="col-md-3 col-sm-3 no-pad">
                        @Html.DropDownListFor(x => x.category, (List<SelectListItem>)ViewBag.cat, new { @class = "form-control", @asp_for = "category" })

                    </div>
                    <div class="col-md-2 col-sm-2 no-pad">
                        <input type="submit" class="btn seub-btn" value="submit" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>