@model UserUpdateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- login section start -->
<section class="login-wrapper">
    <div class="container">
        <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
            <form method="post" asp-action="ResetPassword" asp-controller="User">

                <img class="img-responsive" alt="logo" src="~/JobTema/img/logo.png">
                <input type="hidden" asp-for="Token" />

                <input type="text" asp-for="Password" class="form-control input-lg" placeholder="Current Password">
                <span class="text-danger" asp-validation-for="Password"></span>

                <input type="password" asp-for="NewPassword" class="form-control input-lg" placeholder="New Password">
                <span class="text-danger" asp-validation-for="NewPassword"></span>

                <input type="password" asp-for="ConfirmNewPassword" class="form-control input-lg" placeholder="Confirm Password">
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>

                <button type="submit" class="btn btn-primary">Update</button>
                <p> <a href="/User/Settings/">Go Back</a></p>
            </form>
        </div>
    </div>
</section>
<!-- login section End -->
