@{
    ViewData["Title"] = "404 Error";
}

<h1>Uh oh, looks like you took a wrong turn!</h1>

<p>
    You seem to have stumbled upon a page that doesn't exist.
    Don't worry, we've all been there before.
</p>

<p>
    In the meantime, why not check out some <a href="/">amazing cat videos</a> on the internet?
    Trust me, it will make you feel better.
</p>

<p>
    <img src="https://i.imgur.com/V0YmKxt.gif" alt="Cute cat waving hello" />
</p>